.subscription-form input {
    background: #e3e3e3;
    width: 100%;
    height: 45px;
    border: none;
    padding: 8px 10px;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    font-family: 'Encode Sans', sans-serif;
    font-size: 20px;
    color: #000;
    font-weight: 700;
    transition: all 300ms;

}

.subscription-form input:focus {
    background-color: #e3e3e3;
    box-shadow: none;
}

.subscription-form button {
    background-color: #007AFF;
}

.mockup-1 .card {
    border: none;
    box-shadow: 0px -3px 21px rgb(0 0 0 / 9%), 0px 3px 21px rgb(0 0 0 / 9%);
}

.mockup-1 .card-title {

    text-align: center;
}

.mockup-2 .card {
    border: none;
    box-shadow: 0px -3px 21px rgb(0 0 0 / 9%), 0px 3px 21px rgb(0 0 0 / 9%);
}

.mockup-2 .card-title {

    text-align: center;
}


.mockup-2 {
    flex-flow: wrap-reverse;
}

@media only screen and (max-width: 425px) {
    .slogan-title {
        font-size: 2.8rem !important;
    }
}


.mockups {
    border: none;
    max-height: 700px;
    margin: auto;
}

.coins-img-container {
    text-align: center;

}

.coins-img {
    min-height: 2rem;
    margin: 1rem auto;
}

@media only screen and (max-width: 600px) {
    .coins-img {
        font-size: 1.2rem !important;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 765px) {
    .mock-2-container{
        flex-direction: column-reverse;
    }
}


.mockup-container{
    text-align: center;
}
